body {
    background-image: url("campodacalcio.jpg");
    margin: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: olivedrab;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.main {
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: 50px;
    font-size: 24px;
    text-align: center;
}

.bottone {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bottone:hover {
    background-color: #0056b3;
}
